{ "rules": "\npath \"/sys/policy/*\" { capabilities = "[\"create\", \"update\"]" } \npath \"/auth/token/roles/grantor*\" { capabilities = "[\"create\", \"update\"]" } \npath \"/auth/token/create/grantor*\" { capabilities = "[\"create\", \"update\"]" } \npath \"/{{secrets_brige_config_path}}*\" { capabilities = "[\"create\", \"update\"]" } "}
